:root {

    --vermelho: #ff0000;
    --roxo: #800080;
    --roxo-metodo: #cf19cf;
    --editor-background: #000000;
    --tab-hover-bg: #8000802a;
    --tab-inactive-foreground: #a0a0a0;
    --sidebar-foreground: #e2e2e2;
    --sidebar-title: #ae00ae;
}